*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/images/background-213649__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#header, #about,#Skills, #Portfolio, #hobbies,#contacts {
        border-bottom: 3px solid hsl(214, 94%, 79%);
        width: 100%;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid hsl(214, 94%, 81%);
    width: 100%;
    background-color: rgb(19, 128, 218);
    background-image: url(/images/header.jpg);
    background-size:  cover;
    color: white;
}    
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}
    
h1,h2,h3,p {
    margin: 20px;
    text-align: center;
}
img {
    width: 300px;
    height: 300px;
}
a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
a.nav {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
}

a.nav:hover{
    color: yellow;
}
a.nav:focus {
    color:red;
}
a.nav:active {
    color: blue;  
}

 li{
    list-style: none;
 }
 
#about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    
}
.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    
}
#Portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
}
.hobbies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
}
#contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
}
.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.btn {
    width: 200px;
    height: 40px;
    background-color: black;
    border-radius: 20px;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
    
}
button:hover{
    background-color: rgb(104, 100, 100);
    border: inherit;
}
button:focus{
    background-color:inherit;
    border: 2px solid black;
    outline: none;
}
button:active{
    background-color:red;
    border: inherit;
    outline: none;
    color: black;
}
.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content:space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(19, 128, 218);
    background-image: url(/images/header.jpg);
    color: white;
}
.footer img {
    width: 40px;
    height: 40px;
}